body{
background-color: #ECEEF1;
font-family:"AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.inline-block{
  display: inline-block;
}

.top-text-button-container{
display: block;
margin-top: 0;
}

#already-have-text-container{
width: 90%;
line-height: 10%;
float: left;
font-size: 14px;
padding-right: 0;
}
.margin-left-85{
margin-left: 82%;
}
.color-blue{
color: blue
}
.float-right{
float: right;
}
#sign-in-button-container{
line-height: 10%;
float: left;
}
#sign-in-button{
background-color: #0077C5;
color: white;
font-size: 15px;
border-radius: 5px;
margin-top: 3px;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 14px;
padding-left: 14px;
border-style: none;
}
.header-icon{
margin-left: 150px;
width: 120px;
height: 70px;
}

.main-container{
width: 400px;
margin: 370px;
text-align: center;
margin-top: 1%;
margin-left: 440px;
}
.main-inputs{
margin: 0 auto;
background-color: white;
padding: 4%;
border: 1px solid  lightgrey;
border-bottom-style: none;
}
#creation{
width: 85%;
background-color: #0077c5;
color: white;
height: 43px;
border: 1px white solid;
border-radius: 5px;
margin: 3% 0;
font-size: 100%;
}
.header-icon{
margin-right: 400px;
}
.icons{
font-size: 120%;
display: flex;
align-items: center;
justify-content: center;
}
.icon{
font-size: 120%;
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 25px;
}
.label-inputs{
margin: 40px auto;
justify-content: center;
align-items: center;
font-size: 100%;
}
.input {
border-radius: 4px;
border-width: 1px;
border-style: solid;
border-color: lightgrey;
width: 88%;
height: 30px;
box-shadow: 0;
}
.label{
float: left;
margin-left: 5%;
margin-bottom: 2%;
font-size: 14px;
z-index: 1;
}
.terms{
color: grey;
font-size: 90%;
text-align: center;
padding: 1% 10%;
}
.tel-explanation{
font-size: 10px;
float: left;
margin-left: 5%;
}
.fas3{
color: lightgrey;
display: inline-block;
z-index: 2;
right: 41%;
margin-top: 0.5%;
position: absolute;
}
.fas2{
margin-right: 10px;
}
.first-footer{
margin-top: -10px;
padding: 10px;
border: 1px solid lightgrey;
border-top-style: none;
text-decoration: none;
font-size: 80%;
background-color: #ECEEF1;
}
.p-2-footer{
 margin: 5px;
}
.p-footer{
color: rgb(36, 34, 34);
width: 20px;
margin-top: -20px;
justify-content: space-between;
display: flex;
margin-left: 530px;
}
.second-footer{
margin-top: -350px;
text-align: center;
font-size: 80%;
}
.third-footer{
color: rgb(36, 34, 34);
margin-top: -11px;
}
.p a{
font-size: 13px;
}
#captcha{
color: grey;
}
.privacy-settings{
right: 5%; 
bottom: 0%;
position: fixed;
width: 130px;
height: 40px;
background-color: grey;
color: white;
border-radius: 5px;
  
}