body{
  background-color: lightgrey;
}

.inline-block{
  display: inline-block;
}
#already-have-text-container{
  width: 85%;
  background-color: green;
  line-height: 10%;
  float: left;
}

.color-blue{
  color: blue
}

.float-right{
  float: right;
}

#sign-in-button-container{
  background-color: yellow;
  line-height: 10%;
  float: right;
}

#sign-in-button{
  background-color: #0077C5;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
